body{
    background-color: #0D1A2D;
}

.container{
    background-color: #15273F;
    justify-content: center;
    display: table-column;
    border-radius: 15px;
    position: absolute;
    height: 580px;
    width: 340px;
    left: 40%;
    top: 19%;
    box-shadow: 10px 15px 15px #0F151D;
}

.image{
    border-radius: 10px;
    width: 290px;
    height: 300px;
    margin-top: 7%;
    margin-left: 7%;
}

.titulo{
    color: white;
    margin-left: 7%;
    font-family: sans-serif;
}

.conteudo{
    margin-left: 7%;
    font-family: sans-serif;
    color: #495D79;
}

.verde{
    color: #1EF7F3;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 13px;
    margin-left: 7%;
    margin-top: 6%;
}

.azul{
    color: #495D79;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 13px;
    margin-top: -9%;
    margin-left: 67%;
}

.frase{
    margin-top: -16%;
    margin-left: 14%;
}

p{
    margin-top: -6%;
    margin-left: 5%;
}

.linha{
    width: 290px;
    height: 1px; 
    background-color: #495D79;
    margin-left: 7%;
    margin-top: 6%;
}

.foto{
    width: 45px;
    height: 45px;
    margin-left: 7%;
    margin-top: 6%;
}

.frase2{
    color: #495D79;
    margin-top: -10%;
    margin-left: 25%;
}

.frase3{
    margin-top: -7%;
    margin-left: 31%;
    color: white;
}